In [1]:
from pyspark.sql.types import StructType, LongType,StringType, IntegerType, DoubleType

movieSchema = StructType()\
         .add("movieId", IntegerType(), True)\
         .add("title", StringType(), True)\
         .add("genres", StringType(), True)\
         
movieDf = spark.read.format("csv")\
          .option("header", True)\
          .schema(movieSchema)\
          .load("s3://gk-movielens2/movies.csv")

movieDf.show(2)

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

In [2]:
ratingSchema = StructType()\
         .add("userId", IntegerType(), True)\
         .add("movieId", IntegerType(), True)\
         .add("rating", DoubleType(), True)\
         .add("timestamp", StringType(), True)


ratingDf = spark.read.format("csv")\
          .option("header", True)\
          .schema(ratingSchema)\
          .load("s3://gk-movielens2/ratings.csv")

ratingDf.show(2)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
+------+-------+------+---------+
only showing top 2 rows

In [ ]:
# DF - Python
# DF - SQL
# Spark SQL is core the core engine, the code in Python/R/Java/Scala/SQL data frame code [not RDD code] shall be internally converted 
# into Spark SQL engine Catalyst 
# it optimize your sql/execution flow
# if we write the code inefficiently for example, sort and then filter, internally spark DF [not RDD] shall optimize your code and flow
# it mean, it will rewrite your query plan to fitler first and then sort it.

# SPARK SQL, Queries, Database [meta data ]

In [4]:
# Run spark SQL statement
spark.sql ('SELECT 1 + 1').show()
spark.sql ('SELECT 1 + 1 as result').show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+
|(1 + 1)|
+-------+
|      2|
+-------+

+------+
|result|
+------+
|     2|
+------+

In [7]:
# SPARK DataBase
# Spark Tables/Views types
# 1. Global Temp View/Table. Non persisted, in memory data frame [internally it is a dataframe, in depth with in spark, it is DataSet]
#     SHARED Across multiple SPARK SESSIONS 
# 2. Temp View/Table, non persisted, in memory data frame, it is spark single SPARK SESSION
# 3. Persisted/permanent table, the data and table are persisted, it will be available when we restart/rerun the spark

# behind all spark temp views/table, permanent tables, we have dataframe

# 'default' is the default database name
spark.sql('SHOW TABLES in default').show()

# create temp view from dataframe
movieDf.createOrReplaceTempView('movies')
ratingDf.createOrReplaceTempView('ratings')


# now we can see a table/view called movies
spark.sql('SHOW TABLES in default').show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |   movies|       true|
+--------+---------+-----------+

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |   movies|       true|
|        |  ratings|       true|
+--------+---------+-----------+

In [8]:
# sql returns dataframe, immutable
df2 = spark.sql('SELECT * from movies')
df2.printSchema()
df2.show(2)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

In [10]:
spark.sql('SELECT movieId, upper(title) from movies').show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+--------------------+
|movieId|        upper(title)|
+-------+--------------------+
|      1|    TOY STORY (1995)|
|      2|      JUMANJI (1995)|
|      3|GRUMPIER OLD MEN ...|
|      4|WAITING TO EXHALE...|
|      5|FATHER OF THE BRI...|
+-------+--------------------+
only showing top 5 rows

In [11]:
spark.sql('SELECT * from ratings WHERE rating >=3 and rating <= 4 ORDER BY rating DESC').show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|    235|   4.0|964980908|
|     1|    480|   4.0|964982346|
|     1|    349|   4.0|964982563|
|     1|      3|   4.0|964981247|
|     1|    356|   4.0|964980962|
+------+-------+------+---------+
only showing top 5 rows

In [19]:
# create a view as CREATE VIEW AS SELECT   STATEMENT
# this create a temp view called popular_movies
spark.sql("""
CREATE OR REPLACE TEMP VIEW popular_movies AS
SELECT movieId,  avg(rating) as avg_rating, count(userId) as total_ratings FROM ratings    
GROUP BY movieId
HAVING  avg_rating >= 3 AND total_ratings >= 100
ORDER BY total_ratings DESC
""")

#most_popular_movies.show(200)

# spark.sql("select * from joindb.products p INNER JOIN joindb.brands b ON p.brand_id=b.brand_id").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]

In [20]:
spark.sql('SHOW TABLES in default').show()
# check popular_movies in listing
spark.sql("SELECT * FROM popular_movies").show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+--------------+-----------+
|database|     tableName|isTemporary|
+--------+--------------+-----------+
|        |        movies|       true|
|        |popular_movies|       true|
|        |       ratings|       true|
+--------+--------------+-----------+

+-------+-----------------+-------------+
|movieId|       avg_rating|total_ratings|
+-------+-----------------+-------------+
|    356|4.164133738601824|          329|
|    318|4.429022082018927|          317|
|    296|4.197068403908795|          307|
|    593|4.161290322580645|          279|
|   2571|4.192446043165468|          278|
+-------+-----------------+-------------+
only showing top 5 rows

In [25]:
spark.sql("""
CREATE  OR REPLACE TEMP VIEW most_popular_movies AS
SELECT pm.movieId, avg_rating, total_ratings, title from popular_movies pm  INNER JOIN movies m ON pm.movieId = m.movieId
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]

In [26]:
# check popular_movies in listing
spark.sql("SHOW TABLES IN default").show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+-------------------+-----------+
|database|          tableName|isTemporary|
+--------+-------------------+-----------+
|        |most_popular_movies|       true|
|        |             movies|       true|
|        |     popular_movies|       true|
|        |            ratings|       true|
+--------+-------------------+-----------+

In [27]:
spark.sql("select * FROM most_popular_movies").show(100)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+------------------+-------------+--------------------+
|movieId|        avg_rating|total_ratings|               title|
+-------+------------------+-------------+--------------------+
|    356| 4.164133738601824|          329| Forrest Gump (1994)|
|    318| 4.429022082018927|          317|Shawshank Redempt...|
|    296| 4.197068403908795|          307| Pulp Fiction (1994)|
|    593| 4.161290322580645|          279|Silence of the La...|
|   2571| 4.192446043165468|          278|  Matrix, The (1999)|
|    260| 4.231075697211155|          251|Star Wars: Episod...|
|    480|              3.75|          238|Jurassic Park (1993)|
|    110| 4.031645569620253|          237|   Braveheart (1995)|
|    589| 3.970982142857143|          224|Terminator 2: Jud...|
|    527|             4.225|          220|Schindler's List ...|
|   2959| 4.272935779816514|          218|   Fight Club (1999)|
|      1|3.9209302325581397|          215|    Toy Story (1995)|
|   1196|4.2156398104265405|          211|Star Wars: Episod...|
|     50| 4.237745098039215|          204|Usual Suspects, T...|
|   2858| 4.056372549019608|          204|American Beauty (...|
|     47|3.9753694581280787|          203|Seven (a.k.a. Se7...|
|    780|3.4455445544554455|          202|Independence Day ...|
|    150| 3.845771144278607|          201|    Apollo 13 (1995)|
|   1198|            4.2075|          200|Raiders of the Lo...|
|   4993| 4.106060606060606|          198|Lord of the Rings...|
|   1210| 4.137755102040816|          196|Star Wars: Episod...|
|    858|         4.2890625|          192|Godfather, The (1...|
|    457|3.9921052631578946|          190|Fugitive, The (1993)|
|    592|3.4285714285714284|          189|       Batman (1989)|
|   5952|4.0212765957446805|          188|Lord of the Rings...|
|   2028|4.1462765957446805|          188|Saving Private Ry...|
|   7153| 4.118918918918919|          185|Lord of the Rings...|
|    588|3.7923497267759565|          183|      Aladdin (1992)|
|    608| 4.116022099447513|          181|        Fargo (1996)|
|   2762| 3.893854748603352|          179|Sixth Sense, The ...|
|    380| 3.497191011235955|          178|    True Lies (1994)|
|     32| 3.983050847457627|          177|Twelve Monkeys (a...|
|    364| 3.941860465116279|          172|Lion King, The (1...|
|   1270| 4.038011695906433|          171|Back to the Futur...|
|    377|3.5292397660818713|          171|        Speed (1994)|
|   4306|3.8676470588235294|          170|        Shrek (2001)|
|   3578|3.9382352941176473|          170|    Gladiator (2000)|
|   1580| 3.487878787878788|          165|Men in Black (a.k...|
|    590|3.8353658536585367|          164|Dances with Wolve...|
|    648| 3.537037037037037|          162|Mission: Impossib...|
|    344| 3.040372670807453|          161|Ace Ventura: Pet ...|
|   4226| 4.122641509433962|          159|      Memento (2000)|
|    367|3.1847133757961785|          157|    Mask, The (1994)|
|  58559| 4.238255033557047|          149|Dark Knight, The ...|
|   6539| 3.778523489932886|          149|Pirates of the Ca...|
|   1214| 3.969178082191781|          146|        Alien (1979)|
|    595|3.7705479452054793|          146|Beauty and the Be...|
|   1036|3.8620689655172415|          145|     Die Hard (1988)|
|    500| 3.388888888888889|          144|Mrs. Doubtfire (1...|
|    165|3.5555555555555554|          144|Die Hard: With a ...|
|   1265| 3.944055944055944|          143|Groundhog Day (1993)|
|  79132| 4.066433566433567|          143|    Inception (2010)|
|   1197| 4.232394366197183|          142|Princess Bride, T...|
|   1704| 4.078014184397163|          141|Good Will Hunting...|
|   6377|3.9609929078014185|          141| Finding Nemo (2003)|
|   1721| 3.414285714285714|          140|      Titanic (1997)|
|   1291| 4.046428571428572|          140|Indiana Jones and...|
|   2628| 3.107142857142857|          140|Star Wars: Episod...|
|    316|             3.375|          140|     Stargate (1994)|
|   1136| 4.161764705882353|          136|Monty Python and ...|
|    597|3.4851851851851854|          135| Pretty Woman (1990)|
|   3793| 3.699248120300752|          133|        X-Men (2000)|
|    231|3.0601503759398496|          133|Dumb & Dumber (Du...|
|    293| 4.018796992481203|          133|Léon: The Profess...|
|   1193| 4.203007518796992|          133|One Flew Over the...|
|     10| 3.496212121212121|          132|    GoldenEye (1995)|
|   4886| 3.871212121212121|          132|Monsters, Inc. (2...|
|   7361|4.1603053435114505|          131|Eternal Sunshine ...|
|   1089| 4.202290076335878|          131|Reservoir Dogs (1...|
|   1240|3.8969465648854964|          131|Terminator, The (...|
|   6874|3.9618320610687023|          131|Kill Bill: Vol. 1...|
|   2329| 4.217054263565892|          129|American History ...|
|   1221|  4.25968992248062|          129|Godfather: Part I...|
|     34|        3.65234375|          128|         Babe (1995)|
|   1200|3.9642857142857144|          126|       Aliens (1986)|
|   1213|              4.25|          126|   Goodfellas (1990)|
|   8961|             3.836|          125|Incredibles, The ...|
|   1682|             3.812|          125|Truman Show, The ...|
|    541| 4.100806451612903|          124| Blade Runner (1982)|
|   4995|               4.0|          123|Beautiful Mind, A...|
|    736| 3.321138211382114|          123|      Twister (1996)|
|   5349| 3.540983606557377|          122|   Spider-Man (2002)|
|   1097|3.7663934426229506|          122|E.T. the Extra-Te...|
|   2683|3.1983471074380163|          121|Austin Powers: Th...|
|    733|3.6404958677685952|          121|    Rock, The (1996)|
|   1206| 3.995833333333333|          120|Clockwork Orange,...|
|   4973| 4.183333333333334|          120|Amelie (Fabuleux ...|
|   5445|            3.6375|          120|Minority Report (...|
|   2716|             3.775|          120|Ghostbusters (a.k...|
|   1073|3.8739495798319328|          119|Willy Wonka & the...|
|   4963|3.8445378151260505|          119|Ocean's Eleven (2...|
|  33794|3.8620689655172415|          116|Batman Begins (2005)|
|   1527|3.7456896551724137|          116|Fifth Element, Th...|
|    587|3.4347826086956523|          115|        Ghost (1990)|
|   5989|3.9217391304347826|          115|Catch Me If You C...|
|   1968|3.7787610619469025|          113|Breakfast Club, T...|
|    185|3.0401785714285716|          112|     Net, The (1995)|
|   5418|3.8169642857142856|          112|Bourne Identity, ...|
|   3147| 4.148648648648648|          111|Green Mile, The (...|
|   3996|3.8363636363636364|          110|Crouching Tiger, ...|
+-------+------------------+-------------+--------------------+
only showing top 100 rows